@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap");
.gradiente-musica {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); }

body {
  font-family: 'Roboto', sans-serif; }

.main h1 {
  font-weight: bold; }

.main .primera .letter {
  font-weight: bold; }

.main .primera .min-letter {
  font-family: cursive;
  font-size: 15px; }

.modal-backdrop {
  z-index: 1029 !important; }

.main-tienda .h-250 {
  height: 250px; }

.main-tienda .p-primera {
  font-weight: bold; }

.main-tienda .btn-primary {
  --mdb-btn-bg: #ce0a31;
  --mdb-btn-box-shadow: 0 4px 9px -4px #ce0a31;
  --mdb-btn-hover-bg: #ce0a31;
  --mdb-btn-focus-bg: #ce0a31;
  --mdb-btn-active-bg: #ce0a31; }

.modal-backdrop {
  z-index: 1029 !important; }

.main-sobre-mi .w-250 {
  width: 250px; }

.main-sobre-mi .max-letter {
  font-weight: bolder;
  font-size: 33px; }

.modal-backdrop {
  z-index: 1029 !important; }

.main-bailarines .max-letter {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 33px; }

.modal-backdrop {
  z-index: 1029 !important; }

.footer {
  background-color: #f1f1f1; }
  .footer .copy {
    background-color: rgba(0, 0, 0, 0.2); }
