.main {
    h1 {
        font-weight: bold;
    }

    .primera {
        .letter {
            font-weight: bold;
        }

        .min-letter {
            font-family: cursive;
            font-size: 15px;
        }
    }
}
.modal-backdrop {
    z-index: 1029 !important;
}